<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="dao.ExperienceMapper">

	<insert parameterType="com.java.exfile.dto.ExFileDto" id="subImgUpload">
		insert into ExFileList(fileCode, fileName, filePath, fileSize, exCode) values(seq_fileList_num.nextval, #{fileName}, #{filePath}, #{fileSize},#{exCode}) 
	</insert>

	<select parameterType="String" id="memberCode" resultType="int">
		select memberCode from member where email = #{email} 
	</select>

	<insert parameterType="com.java.experience.dto.ExperienceDto" id="exHostRegister">
		insert into experience 
		(exCode, memberCode, exName, exPeople,exStartDate, exEndDate,exTime,exPrice,exAddress,exExplain,exApproval,exBank,exAccount,exRegDate)
		values(experience_exCode_seq.nextval, 
		#{memberCode},
		#{exName},
		#{exPeople},
		#{exStartDate, jdbcType=DATE},
		#{exEndDate,jdbcType=DATE},
		#{exTime},
		#{exPrice},
		#{exAddress, jdbcType=VARCHAR},
		#{exExplain},
		#{exApproval},
		#{exBank},
		#{exAccount},
		#{exRegDate}) 
	</insert>
	
	<insert parameterType="com.java.exfile.dto.ExFileDto" id="exMainImgUpload">
		insert into ExFileList(fileCode, mainImgName, filePath, fileSize, exCode) values(exfileList_fileCode_seq.nextval, #{mainImgName}, #{filePath}, #{fileSize}, #{exCode}) 
	</insert>
	
	<select id="exCode" resultType="int">
		select max(exCode) from experience
	</select>
	
	<select id="hostChkList" parameterType="int" resultType="com.java.host.dto.HostDto">
		select * from house where memberCode=#{memberCode}
	</select>
	
	<!-- 후기작성  -->
	<select id="reviewCnt" resultType="int">
		select count(*) from exReview
	</select>
	
	<select id="reviewList" parameterType="java.util.Map" resultType="com.java.exreview.dto.ExReviewListDto">
		<![CDATA[
		SELECT * FROM (SELECT rownum AS rnum, A.* FROM (SELECT member.email, exReview.* FROM member, exReview where member.memberCode = exReview.memberCode ORDER BY revDate Desc) A) b WHERE b.rnum >=#{startRow} and b.rnum <=#{endRow}
		]]>
	</select>
	
	<select id="exReserveCode" parameterType="int" resultType="int">
		select exreserveCode from exReserve where memberCode=#{memberCode}
	</select>
	
	<insert id="writeReview" parameterType="com.java.exreview.dto.ExReviewDto" >
		insert into exReview(exReserveCode, memberCode, revDate, revContent, revRate) values(#{exReserveCode}, #{memberCode}, #{revDate}, #{revContent}, #{revRate})
	</insert>
	
	<select id="exReviewUpdate" parameterType="int" resultType="com.java.exreview.dto.ExReviewDto">
		select * from exReview where memberCode=#{memberCode}
	</select>
	
	<update id="exReviewUpdateOk" parameterType="com.java.exreview.dto.ExReviewDto">
		update exReview set revDate=#{revDate}, revContent=#{revContent}, revRate=#{revRate} where memberCode=#{memberCode}
	</update>
	
	<delete id="exReviewDelete" parameterType="int">
		delete from exReview where exReserveCode=#{exReserveCode}
	</delete>
	
	<!--체험 페이지  -->
	<select id="exPage" parameterType="int" resultType="com.java.experience.dto.ExperienceDto">
		select * from experience where exCode=#{exCode}
	</select>
	
	<select id="exPageImg" parameterType="int" resultType="com.java.exfile.dto.ExFileDto">
		select * from exFileList where exCode=#{exCode}
	</select>
	
	<select id="exHostInfo" parameterType="int" resultType="com.java.member.dto.MemberDto">
		select * from member where memberCode=#{memberCode}
	</select>
</mapper>