<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.searchMapper">
	<select id="getCount" parameterType="java.util.Map" resultType="int">
		<![CDATA[
			select count(*) from house h
								where houseCode not in (
												select houseCode from (
																		select a.*, house.people-p remain from (
																													select houseCode, resDate, sum(people) p from remain
																														where resDate >= #{checkIn} and resDate < #{checkOut}
																														group by houseCode, resDate order by houseCode, resDate
																												) a, house where a.houseCode=house.houseCode
																		) where remain < #{people} group by houseCode
														)
		]]>
		
		<if test="localSplit!=null">
			<foreach collection="localSplit" item="item" open="and (" separator="or" close=")">
				local=#{item}
			</foreach>
		</if>
		<if test="searchHouseName!=null">
			and houseName like '%${searchHouseName}%'
		</if>
	</select>
	

	<select id="searchHouse" parameterType="java.util.Map" resultType="com.java.host.dto.HostDto">
		<![CDATA[
			
			select * from (
			
			
			
					select rownum rn, h.* from house h
							where houseCode not in (
											select houseCode from (
																	select a.*, house.people-p remain from (
																												select houseCode, resDate, sum(people) p from remain
																													where resDate >= #{checkIn} and resDate < #{checkOut}
																													group by houseCode, resDate order by houseCode, resDate
																											) a, house where a.houseCode=house.houseCode
																	) where remain < #{people} group by houseCode
													)
		]]>										
		<if test="localSplit!=null">
			<foreach collection="localSplit" item="item" open="and (" separator="or" close=")">
				local=#{item}
			</foreach>
		</if>
		<if test="searchHouseName!=null">
			and houseName like '%${searchHouseName}%'
		</if>								
													
		<![CDATA[											
			) where rn>=#{sRow} and rn<=#{eRow}
		]]>
		
		
	</select>
	
	
	
	<!-- 테스트 용으로 데이터 넣기 위한 함수 -->
	<insert id="dataInput" parameterType="com.java.host.dto.HostDto">
		insert into house(
						houseCode,
						houseName,
						memberCode,
						zipCode,
						sido,
						sigungu,
						roadName,
						bName,
						address,
						jibunAddress,
						latlng,
						detailAddress,
						local,
						people,
						bed,
						price
					) values(
						house_houseCode_seq.nextval,
						#{houseName},
						#{memberCode},
						#{zipCode},
						#{sido},
						#{sigungu},
						#{roadName},
						#{bName},
						#{address},
						#{jibunAddress},
						#{latLng},
						#{detailAddress},
						#{local},
						#{people},
						#{bed},
						#{price}
					)
	</insert>
</mapper>