@charset "UTF-8";

#wrap {
	width: 80rem;
	margin: 0 auto;
	overflow: hidden;
}
.menuL {
	float: left;
	width: 30%;
}
.menuL > ul {
	width: 300px;
	list-style: none;
	border: 0.063rem solid #ddd;
	padding: 20px;
}
.menuL > ul > li {
	padding: 10px;
}
.menuR {
	float: left;
	width: 70%;
	min-height: 50rem;
}

a {
	cursor: pointer;
}