@charset "UTF-8";

html{
	font-size: 16px;
}

body{
	color: #484848;
}

.top{
	border: 0.1rem dotted yellow; 
	margin-left: 1.5rem;
}

#exImg{
	object-fit:cover;
	width: 100%;
	height: 100%;
}

.img{
	overflow: hidden;
}

#mainImg{
	float:left; display:inline-block;
	width: 50%; height: 30rem; 
	overflow: hidden; border: 0.1rem solid red; 
	margin-right: 0.5rem;
}
/* 
#roomImg{
	display: inline-block;
} */

.bot{
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
	width: 70rem;
}

.guestHouse{
	margin-left: 50px; float: left;
	display: inline-block;

}

.name{
	font-size: 2rem;
	font-weight: bold;
}

.explain{
	width: 30rem;
}

.facilites, #calendar, .host, #map, #notice{
	margin-bottom: 3rem;
}

.facilites > p, #calendar > p, .host>p, #map>p, #notice p,#reserve>p{
	font-size: 1.5rem;
	font-weight: bold;
}

#fRight{
	float: left; margin-right: 2rem;
}

#fLeft{
	display: inline-block;
}
#hostInfo{
	float: left; 
	border: 1px solid blue;
}

#hostImg{
	display: inline-block;
}

#hostImgSize{
	width: 5rem;
	height: 5rem;
	border-radius: 5rem;
}

#reserve{
	margin-left: 3rem; 
	display: inline-block;

}

.form{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#write{
	margin-top: 3rem;
	margin-bottom: 3rem;
}





