@charset "UTF-8";

html{
	font-size: 16px;
}

body{
	color: #484848;
}

.top{
	border: 0.1rem dotted yellow; 
	margin-left: 1.5rem;
}

#exImg{
	object-fit:cover;
	width: 100%;
	height: 100%;
}

.img{
	overflow: hidden;
}

#mainImg{
	float:left; display:inline-block;
	width: 50%; height: 30rem; 
	overflow: hidden; border: 0.1rem solid red; 
	/* margin-right: 0.5rem; */
}

#imagesWrap{
	width: 50%; height: 30rem;
	border: 0.1rem solid red; overflow: hidden;
}
/* 
#roomImg{
	display: inline-block;
} */

.bot{
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
	width: 70rem;
}

.guestHouse{
	margin-left: 50px; float: left;
	display: inline-block;

}

.name{
	font-size: 2rem;
	font-weight: bold;
}

.explain{
	width: 30rem;
}

.facilites, #calendar, .host, #map, #notice{
	margin-bottom: 3rem;
}

.facilites > p, #calendar > p, #hostName, #map>p, #notice p{
	font-size: 1.5rem;
	font-weight: bold;
}

#reserveMargin>p{
	font-weight: bold;
}

#fRight{
	float: left; margin-right: 2rem;
}

#fLeft{
	display: inline-block;
}

#titleEmail{
	width: 6rem;
}

.title{
	margin-bottom: 1rem;
}

.host{
	overflow: hidden;
}

#hostInfo{
/* 	border: 1px solid blue; */
	float: left;
	display: inline-block;
}

#hostImg{
	display: inline-block;
	float: right;
}

#hostImgSize{
	width: 5rem;
	height: 5rem;
	border-radius: 5rem;
}

#reserve{
	margin-left: 3rem; 
	display: inline-block;
	border: 0.05rem solid #cccccc;
	border-radius: 0.4rem;
}

#reserveMargin{
	margin: 1.5rem;
}

.form{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#write{
	margin-top: 3rem;
	margin-bottom: 3rem;
}
#formToText,#peopleText{
	font-size: 1rem;
	font-weight: bold;
}

#formTo{
	margin-bottom: 1.5rem;
}

#from{
	width: 7rem; margin-right: 1rem;
}

#to{
	width: 7rem;
}

#loginText{
	width:100%; margin-top:1.5rem; color: red;
	font-size: 0.8rem;
}


