@charset "UTF-8";

html{
	font-size: 16px;
}
body{
	color: #484848;
}
#wrap{
	margin-bottom: 1rem;
	margin: auto;
	width: 50rem;
	margin-top: 3rem;
}


.allDiv{
	margin: auto;
	margin-top: 5rem;
	width: 70rem;
}

h3{
	font-weight: bold;
}

#mainImg{
	display: inline-block; float: left; margin-right: 3rem;
}

#info{
	display: inline-block;
	border: 2px soild;
}

#name{
	font-weight: bold;
	font-size: 1.5rem; /* 24px */
}