<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.GuestHouseMapper">

	<select id="guestHouseRead" resultType="com.java.host.dto.HostDto">
		select * from house where houseCode=#{houseCode}
	</select>
	
	<select id="guestHouseImgList" parameterType="java.util.Map" resultType="com.java.file.dto.FileDto">
		select * from filelist where houseCode=#{houseCode}
	</select>
	
	<select id="getMemberCode" parameterType="String" resultType="int">
		select membercode from member where email=#{email}
	</select>

	<select id="getPrice" resultType="int">
		select price from house where houseCode=#{houseCode}
	</select>

</mapper>