<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="host.dao.mapper">
  <insert id="subImgUpload" parameterType="com.java.file.dto.FileDto">
  	 insert into FileList(fileCode, fileName, filePath, fileSize) values(seq_fileList_num.nextval, #{fileName}, #{filePath}, #{fileSize})
  </insert>
</mapper>